@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    min-height: 100vh;
    background: rgba(0,0,0,0.7)url(/Assets/photos/IMG_7202.JPG) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
  }

  *{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
  }
  

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    top: 0;
    left: 0;
    padding: 35px 100px;
    position: fixed;

  }

  .titlecontainer {
    position: relative;
    top: 87px;
    width: 931px;
    left: 15%;
    font-weight: 700;
   
  }
  .title {
    color: rgba(232, 252, 217, 1);
    font-size: 92px;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  }

   a{
    text-decoration: none;
    color: white;
   
  }
  .biotitle {
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
  }

  nav a{
    margin-left: 60px;
  }
  