body {
  font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
  position: absolute;
  top: 1000;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/Assets/photos/IMG_7211.JPG") center center;
  
}





