@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    min-height: 100vh;
    background: rgba(0,0,0,0.7)url(/Assets/photos/IMG_7211.JPG) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
  }

  *{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
  }
  

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    top: 0;
    left: 0;
    padding: 35px 100px;
    position: fixed;

  }


.selectionTitle{
  
}

  .titleContainer {
    position: relative;
    top: 350px;
    width: 950px;
    left: 5%;
    font-weight: 700;
   
  }
  .title {
    color: rgba(232, 252, 217, 1);
    font-size: 92px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

   a{
    text-decoration: none;
    color: white;
   
  }
  .biotitle {
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
  }

  .biott{
    position: relative;
    
    width: 900px;
    
    font-weight: 700;
  }

  nav a{
    margin-left: 60px;
  }
  
  .navigation {
    border-radius: 10px;
    background-color: #707070;
    color: white;
    box-shadow: none;    
  }

  .primary {
    margin-left: -80px;
  }

  .navigation p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }
  

  .first {
    width: 100%;
    color: #ffffff;
    height: 10%;
    
  }
  .grade {
    
    margin-left: -120px;
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  .Ttitle {
    font-size: 32px;
  }
  
  .tablecontainer {
    border-radius: 15px;
    
    width:861px;
    height: 150px;
    top: 150px;
    left: 48%;
    height: 444px;
    background-color: #626262;
    position: relative;

  }

  .buttons button {
    font-size: 14px;
    font-weight: 0px;
    

  }
  
  .second {
    left: 2.5%;
    
    width: 95%;
    color: #ffffff;
    
    display: flex;
    background: #707070;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 80%;
    border-radius: 10px;
    position: relative;
  }
  .second p {
    margin: 19px;
    
  }

  