@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-white font-rubik;
  }
  div {
    outline: 1px solid rgba(255, 0, 0, 0.3);
  }
  button {
    outline: 1px solid rgba(255, 184, 0, 0.3);
  }
  h1, h2 {
    outline: 1px solid rgba(0, 0, 255, 0.3);
  }
  img {
    outline: 1px solid rgba(0, 255, 0, 0.3);
  }
  p {
    outline: 1px solid rgba(128, 0, 128, 0.3);
  }
}


